---
import Layout from '../layouts/Layout.astro';
import LargeProject from '../components/LargeProject.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class='hero'>
			<div class='hero-container'>
				<p>Hello! I'm</p>
				<h1>Ivan Carrillo</h1>
				<p>I am a software engineer who is currently working on web development.</p>
				<button>View My Work</button>
			</div>
		</section>

		<section>
			<h2>My Work</h2>
			<LargeProject title="Test" />
			
		</section>
	
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	* {
		padding: 0;
		margin: 0;
	}

	.hero {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem;
	}

	.hero-contaienr {
		max-width: 1000px;
		margin: auto;
	}

	.hero-container p {
		padding: 2rem 0;
		width: 90%;
	}

	/* .text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	} */

	.hero {
		background-color: #f3f7ff;
	}
</style>
