<div class='footer-container'>
    <a href='https://github.com/IvanBot00'>Github</a>
    <a href='https://www.linkedin.com/in/ivan-carrillo00/'>LinkedIn</a>
</div>

<style>
    .footer-container {
        margin-top: 2rem;
        background-color: #252525;
        padding: 15px 45px;
        border-top: 2px solid #333;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }

    a {
        color: var(--color-subtext);
        text-decoration: none;
        margin-right: 1rem;
    }

    @media screen and (max-width: 991px) {
        .footer-container {
            border-radius: 0px;
        }
    }
</style>