<div class='footer-container'>
    Github:
</div>

<style>
    .footer-container {
        margin-top: 2rem;
        background-color: #252525;
        padding: 15px 45px;
        border-top: 2px solid #333;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }

    @media screen and (max-width: 991px) {
        .footer-container {
            border-radius: 0px;
        }
    }
</style>