<div class='nav-container'>
  <div>
    <span>
      <img />
      Ivan Carrillo
    </span>
  </div>

  <span>
    <nav>

    </nav>
    Hamburger menu
  </span>
</div>

<style>
  .nav-container {
    display: flex;
    justify-content: space-between;
  }
</style>