<div class='nav-container'>
  <div class='nav-inner'>
    <nav>
      <ul>
        <li><a href="/#about"><span>01</span>About</a></li>
        <li><a href="/#work"><span>02</span>Experience</a></li>
      </ul>
    </nav>
  </div>
</div>

<style>
.nav-container {
  top: 0;
  padding: 1rem 2rem;
}
.nav-inner {
  margin: auto;
  max-width: 1000px;
  display: flex;
  justify-content: flex-end;
}

nav {
  max-width: 400px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0 1rem;
}

span {
  margin-right: 0.5rem;
}

a {
  color: black;
  text-decoration: none;
}
</style>