<div class='container'>
  <div class='inner'>

    <div>
      <button>Toggle Theme</button>
    </div>

    <div>
      <nav>
        <ul>
          <li>
            <a><span aria-hidden='true'>01</span>Home</a>
          </li>
          <li>
            <a><span aria-hidden='true'>02</span>Work</a>
          </li>
          <li>
            <a><span aria-hidden='true'>03</span>Blog</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</div>

<style>
  .container {
    padding: 1rem 2rem;
    top: 0;
    z-index: 9999;
    transition: 0.32 ease-in-out;
  }
  .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  a {
    padding: 0 0.5rem;
    opacity: 0.75;
  }
  a:hover {
    opacity: 1;
  }

  ul {
    display: flex;
  }

  @media screen and (max-width: 480px) {
    .socials {
      display: none;
    }
  }

</style>